<div *ngFor="let brand of Object.keys(groupedCars)" class="brand-group">
  <h2>{{ brand }}</h2>
  <table>
    <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Transmission</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let car of groupedCars[brand]">
      <td>{{ car.brand }}</td>
      <td>{{ car.model }}</td>
      <td>{{ car.transmission }}</td>
      <td [style.color]="getPriceColor(car.priceFlag)">{{ car.price }}</td>
      <td>
        <button (click)="showCode(car.registryCode)">Show Code</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
